version: "3"
services:
  app:
    build: .
    container_name: app
    ports:
      - 8000:8000
    volumes:
      - ./:/app
    environment:
      - DB_HOST=db
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:17
    container_name: db
    environment:
      - POSTGRES_DB=library
      - POSTGRES_USER=library_admin
      - POSTGRES_PASSWORD=password
    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  pgdata: 
    driver: local