{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Member - Add
{% endblock title %}
{% block content %}
    <div class="container-lg">
        <h3 class="mt-4">New Member</h3>
        <div class="mb-4 mt-3 ">
            <form method="post" action="{% url 'member:member_add' %}">
                {{ form.non_field_errors }}
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Save" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock content %}
