{% extends 'base.html' %}

{% load static %}
{% block title %}
  {{ author.name }}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container-lg mb-5 mt-5">
    <img src="{% if author.image %}
        {{ author.image.url }}
      {% else %}
        {% static 'imgs/author_avatar.png' %}
      {% endif %}"
      alt="author image"
      width="200px" />
    <div class="d-flex align-items-center mb-5 mt-4">
      <h2>{{ author.name }}</h2>
      <a href="{% url 'book:author_update' author.id %}" class="btn btn-sm btn-outline-primary ms-4">Update</a>
    </div>
    <div class="row">
      <div class="col-3 col-md-2 col-lg-1">
        <p class="fw-bold">Bio:</p>
      </div>
      <div class="col-9 col-md-10 col-lg-11">
        <p>{{ author.bio }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-md-2 col-lg-1">
        <p class="fw-bold">Birthdate:</p>
      </div>
      <div class="col-9 col-md-10 col-lg-11">
        <p>{{ author.birth_date }}</p>
      </div>
    </div>
    {% if author.death_date %}
      <div class="row">
        <div class="col-3 col-md-2 col-lg-1">
          <p class="fw-bold">Death date:</p>
        </div>
        <div class="col-9 col-md-10 col-lg-11">
          <p>{{ author.death_date }}</p>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-3 col-md-2 col-lg-1">
        <p class="fw-bold">Books:</p>
      </div>
      <div class="col-9 col-md-10 col-lg-11">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ISBN</th>
              <th>Title</th>
              <th>Publish Year</th>
              <th>Genres</th>
            </tr>
          </thead>
          <tbody>
            {% for book in author.books.all %}
              <tr>
                <td>{{ book.isbn }}</td>
                <td>
                  <div class="d-flex justify-content-between me-3">
                    <a href="{% url 'book:book_detail' book.isbn %}" class="link me-3">{{ book.title }} <i class="fas fa-external-link-alt"></i></a>
                  </div>
                </td>
                <td>{{ book.pub_year }}</td>
                <td>
                  <ul class="list-unstyled">
                    {% for genre in book.genres.all %}
                      <li class="">{{ genre }}</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
