{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Add New Book
{% endblock %}

{% block content %}
  <form action="{% url 'book:book_add' %}" method="POST">
    {{ form.non_field_errors }}
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex">
      <input type="submit" value="Save" class="btn btn-primary" />
      <button type="button" onclick="goBack()" class="btn text-danger">Cancel</button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script>
    function goBack() {
      window.history.back()
    }
  </script>
{% endblock %}
