{% extends 'base.html' %}

{% block title %}
  Books
{% endblock %}

{% block style %}
  <style>
    .link {
      text-decoration: none;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between mb-3">
    <div>
      <form action="{% url 'book:index' %}">
        <div class="form-group d-flex">
          <input type="text" class="form-control me-3" name="q" placeholder="Book title.." value="{{ q }}" />
          <input type="submit" value="Search" class="btn btn-success" />
        </div>
      </form>
    </div>
    <a href="{% url 'book:add' %} " class="btn btn-primary">New Book</a>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Genres</th>
        <th>Authors</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>{{ book.isbn }}</td>
          <td>
            <div class="d-flex justify-content-between me-3">
              <a href="{% url 'book:detail' book.isbn %}" class="link me-3">{{ book.title }} <i class="fas fa-external-link-alt"></i></a>
            </div>
          </td>
          <td>
            <ul class="list-unstyled">
              {% for genre in book.genres.all %}
                <li class="">
                  <a class="link" href="">{{ genre }}</a>
                </li>
              {% endfor %}
            </ul>
          </td>
          <td>
            <ul class="list-unstyled">
              {% for author in book.authors.all %}
                <li class="">
                  <a class="link" href="">{{ author }}</a>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
