{% extends "base.html" %}
{% block title %}
  {{ book.title }}
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container-lg mb-5 mt-5">
    <h2 class="mb-3">{{ book.title }}</h2>
    <div class="row">
      <div class="col-12 col-md-3 p-5 p-md-2">
        <div class="rounded overflow-hidden">
          <img src="{{ book.cover_image.url }}"
               alt=""
               width="100%"
               height="100%"
               class="object-fit-cover">
        </div>
        <div class="row align-items-stretch">
          {% for img in book.images.all %}
            <div class="col-4 p-2">
              <div class=" h-100 rounded overflow-hidden">
                <img src="{{ img.image.url }}"
                     alt=""
                     width="100%"
                     height="100%"
                     class="object-fit-cover">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-md-9 p-5">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td class="fw-bold">Publish year:</td>
              <td>{{ book.pub_year }}</td>
            </tr>
            <tr>
              <td class="fw-bold">Genres:</td>
              <td>
                {% for genre in book.genres.all %}{{ genre }},{% endfor %}
              </td>
            </tr>
            <tr>
              <td class="fw-bold">Authors:</td>
              <td>
                {% for author in book.authors.all %}{{ author }},{% endfor %}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex mt-5 justify-content-center bg-warning-subtle rounded p-3">
          <a href="{% url 'book:book_update' book.isbn %}?next={% url 'book:book_detail' book.isbn %}"
             class="btn btn-primary me-4">Update</a>
          <button type="button"
                  class="btn btn-outline-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal">Delete</button>
        </div>
      </div>
    </div>
    <hr class="mt-5" />
    <h4 class="mt-5 mb-4">Book Copies</h4>
    <div class="row p-3">
      <div class="col-8 border border-dark rounded me-2 p-4">
        {% if book.copies.count %}
          <table class="table table-striped">
            <thead>
              <th>Copy Number</th>
              <th>Status</th>
              <th>--</th>
            </thead>
            <tbody>
              {% for copy in book.copies.all %}
                <tr class="fw-bold">
                  <td>{{ copy.copy_number }}</td>
                  <td class="{% if copy.is_available %}   text-success   {% else %}   text-secondary   {% endif %}">
                    {{ copy.status|capfirst }}
                    {% if copy.is_borrowed %}
                      by: <a href="{% url 'member:member_detail' copy.borrower.id %}"
    class="fw-normal">{{ copy.borrower }}</a>
                    {% endif %}
                  </td>
                  <td>
                    {% if copy.is_available %}
                      <a class="btn btn-sm btn-outline-warning"
                         href="{% url 'circulation:borrowing_add' copy.id %}"
                         target="_blank">Borrow</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="bg-warning-subtle w-100 h-100 rounded fs-4 fw-bold text-warning-emphasis d-flex align-items-center justify-content-center">
            <p>No copies for this book!</p>
          </div>
        {% endif %}
      </div>
      <div class="col p-4 rounded border border-dark">
        <h4 class="mb-3 text-info-emphasis">Add Book Copy</h4>
        <form action="{% url 'book:book_detail' book.isbn %}" method="post">
          {% csrf_token %}
          {{ book_copy_form.non_field_errors }}
          {{ book_copy_form|crispy }}
          <input type="submit" value="Add" class="btn btn-primary" />
        </form>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <p>
              Are you sure you want to delete this book?
              <br />
              this action can't be reverted!
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form action="{% url 'book:book_delete' book.isbn %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
