{% extends 'base.html' %}

{% block title %}
  {{ book.title }}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <h2 class="mb-5">{{ book.title }}</h2>
  <table class="table table-striped fs-5">
    <tbody>
      <tr>
        <td class="fw-bold">Publish year:</td>
        <td>{{ book.pub_year }}</td>
      </tr>
      <tr>
        <td class="fw-bold">Genres:</td>
        <td>
          {% for genre in book.genres.all %}
            {{ genre }},
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td class="fw-bold">Authors:</td>
        <td>
          {% for author in book.authors.all %}
            {{ author }},
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
  <hr class="mt-5" />
  <h4 class="mt-5">Book Copies</h4>
  <div class="row">
    <div class="col-8 border border-dark rounded me-2 p-4">
      {% if book.copies.count %}
        <table class="table table-striped">
          <thead>
            <th>Copy Number</th>
            <th>Available</th>
          </thead>
          <tbody>
            {% for copy in book.copies.all %}
              <tr>
                <td>{{ copy.copy_number }}</td>
                <td>
                  {% if copy.is_available %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="bg-warning-subtle w-100 h-100 rounded fs-4 fw-bold text-warning-emphasis d-flex align-items-center justify-content-center">
          <p>No copies for this book!</p>
        </div>
      {% endif %}
    </div>
    <div class="col p-4 rounded border border-dark">
      <h4 class="mb-3 text-info-emphasis">Add Book Copy</h4>
      <form action="{% url 'book:book_detail' book.isbn %}" method="POST">
        {% csrf_token %}
        {{ book_copy_form.non_field_errors }}
        {{ book_copy_form|crispy }}
        <input type="submit" value="Add" class="btn btn-info" />
      </form>
    </div>
  </div>
  <div class="d-flex mt-5">
    <a href="{% url 'book:update' book.isbn %}?next={% url 'book:detail' book.isbn %}" class="btn btn-primary">Update</a>
    <a href="#" class="btn text-danger">Delete</a>
  </div>
{% endblock %}
