{% extends 'base.html' %}

{% block title %}
  {{ book.title }}
{% endblock %}

{% block content %}
  <h2 class="mb-5">{{ book.title }}</h2>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td class="fw-bold">Publish year:</td>
        <td>{{ book.pub_year }}</td>
      </tr>
      <tr>
        <td class="fw-bold">Genres:</td>
        <td>
          {% for genre in book.genres.all %}
            {{ genre }},
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td class="fw-bold">Authors:</td>
        <td>
          {% for author in book.authors.all %}
            {{ author }},
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
  <h4 class="mt-5">Book Copies</h4>
  {% if book.copies.count %}
    <table class="table table-striped">
      <thead>
        <th>Copy Number</th>
        <th>Available</th>
      </thead>
      <tbody>
        {% for copy in book.copies.all %}
          <tr>
            <td>{{ copy.copy_number }}</td>
            <td>
              {% if copy.is_available %}
                Yes
              {% else %}
                No
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No copies for this book!</p>
  {% endif %}
  <div class="d-flex mt-5">
    <a href="{% url 'book:update' book.isbn %}?next={% url 'book:detail' book.isbn %}" class="btn btn-primary">Update</a>
    <a href="#" class="btn text-danger">Delete</a>
  </div>
{% endblock %}
