{% extends 'base.html' %}

{% block title %}
  {{ book.title }}
{% endblock %}

{% block content %}
  <h2 class="mb-5">{{ book.title }}</h2>
  <table class="table">
    <tbody>
      <tr>
        <td class="fw-bold">Publish year:</td>
        <td>{{ book.pub_year }}</td>
      </tr>
      <tr>
        <td class="fw-bold">Genres:</td>
        <td>
          {% for genre in book.genres.all %}
            {{ genre }},
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td class="fw-bold">Authors:</td>
        <td>
          {% for author in book.authors.all %}
            {{ author }},
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td class="fw-bold">Book Copies:</td>
        <td>
          {% for copy in book.copies.all %}
            {{ copy }},
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex mt-5">
    <a href="{% url 'book:update' book.isbn %}" class="btn btn-primary">Update</a>
    <a href="#" class="btn text-danger">Delete</a>
  </div>
{% endblock %}
