{% extends 'base.html' %}

{% block title %}
  Books
{% endblock %}

{% block style %}
  <style>
    .link {
      text-decoration: none;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between mb-3">
    <div>
      <form action="{% url 'book:index' %}">
        <div class="form-group d-flex">
          <input type="text" class="form-control me-3" name="book_name" placeholder="Book title.." value="{{ search_text }}" />
          <input type="submit" value="Search" class="btn btn-success" />
        </div>
      </form>
    </div>
    <a href="{% url 'book:add' %} " class="btn btn-primary">New Book</a>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Genres</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>{{ book.isbn }}</td>
          <td>
            <a href="{% url 'book:detail' book.isbn %}" class="link">{{ book.title }}</a>
          </td>
          <td>
            <ul class="list-unstyled">
              {% for genre in book.genres.all %}
                <li class="">
                  <a href="">{{ genre }}</a>
                </li>
              {% endfor %}
            </ul>
          </td>
          <td>
            <a href="{% url 'book:update' book.isbn %} " class="btn btn-outline-primary">Update</a>
            <a href="{% url 'book:add' %} " class="text-danger link ms-2">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
