{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}
  Books
{% endblock %}

{% block content %}
  <div class="d-flex">
    <a href="{% url 'book:add' %} " class="btn btn-primary">Add</a>
  </div>
  <table class="table table-striped">
    <thead>
      <td>ISBN</td>
      <td>Title</td>
      <td>Genres</td>
      <td>Actions</td>
    </thead>

    {% for book in books %}
      <tr>
        <td>{{ book.isbn }}</td>
        <td>
          <a href="{% url 'book:detail' book.isbn %}">{{ book.title }}</a>
        </td>
        <td>
          <ul class="list-group list-group-horizontal">
            {% for genre in book.genres.all %}
              <li class="list-group-item">{{ genre }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <a href="{% url 'book:add' %} " class="btn btn-primary">Update</a>
          <a href="{% url 'book:add' %} " class="text-danger">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
