{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container pt-5 pb-5">
        <div class="d-flex row justify-content-center">
            <div class="col-md-4">
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>
                            Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.
                        </p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="login" class="btn btn-primary">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
                {# Assumes you set up the password_reset view in your URLconf #}
                {% comment %} <p>
            <a href="{% url 'password_reset' %}">Lost password?</a>
                </p> {% endcomment %}
            </div>
        </div>
    </div>
{% endblock content %}
